body {
    background-image: url(/career_sim_1/bricks.jpg) ;
}

#profile-pic {
    height: 300px;
    border-radius: 10%;
}

.navigation {
    background-color: darkgray;
}

.intro {
    background-color: darkgray;
}

.mission {
    width: 600px;
}